@page "/Curriculo-Beatriz"
@layout Shared.MainLayout
<html>
<head>

    <title>Currículo Beatriz</title>

</head>
<body>
    <div class="cabecalho">
        <img src="imagens/FotoPDS.png" alt="Foto de Beatriz" class="fotoBeatriz" />
        <h3>Beatriz de Oliveira Rodrigues</h3>
        <p>Email: beatrizoliveirabia2008@gmail.com</p>
        <p>Telefone: (69)99265-7540</p>
        <p>Ji-Paraná - RO</p>
        <p>Estudande do cuso técnico em informática, no Instituto Federal de Rondônia - Campus Ji-Paraná </p>
    </div>

    <hr />
    <h4>Formação</h4>
    <p>Curso Técnico em Informática - Instituto Federal</p>
    <p>Ensino médio - Instituto Federal de Rondônia / cursando</p>
    <p>Minicurso 4:00 h - Git e GitHub </p>
    <p>Ensino Fundamental Completo</p>
    <hr />
    <h4>Experiência</h4>
    <p> Estágio na empresa Pacto das Águas</p>
    <hr />
    <h4>Habilidades</h4>
    <p>HTML, CSS, JS e SQL</p>
</body>
</html>
